SATE_MASTER_API_KEY=tu_api_key_aqui
SATE_HMAC_KEY=tu_hmac_key_aqui
GEE_SERVICE_ACCOUNT=tu_cuenta@proyecto.iam.gserviceaccount.com
GEE_KEY_FILE=credenciales_arcweb.json
SATE_ALLOWED_ORIGINS=https://TU-USUARIO.github.io
SATE_PORT=5000
SATE_DEBUG=false